<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Please enter the code we sent to <%= number_to_phone(current_user.phone_number) %></h2>
    </div>
  </div>
  <div class="form-signin login-session">
    <%= bootstrap_form_for(:code_verification, url: twilio_confirmation_path, method: :post) do |f| %>
      <%= f.text_field :code, placeholder: "Enter your code..." %>
      <%= f.submit "Verify", class: "btn login btn-primary" %>
    <% end %>
  </div>
</div>
