
<div class="jumbotron">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3"><h1>Consider it done.</h1></div>
      <div class="col-md-6 col-md-offset-3"><h3>From house painting to personal training, we bring you the right pros for every project on your list.</h3></div>
    </div>
    <form role="form" method="post">
      <div class="col-md-6 col-md-offset-3 form-group">
      	<div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="What service do you need?">
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit">Get Started</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="icons icons-container">
  <div class="icons-row">
    <div class="icon"><a href="/home-improvement" id="home-link"><i class="fa fa-home"></i></a></div>
    <div class="icon"><a href="/events" id="events-link"><i class="fa fa-calendar"></i></a></div>
    <div class="icon"><a href="/lessons"><i class="fa fa-graduation-cap"></i></a></div>
    <div class="icon"><a href="/wellness"><i class="fa fa-heartbeat"></i></a></div>
    <div class="icon"><a href="more/business"><i class="fa fa-briefcase"></i></a></div>
    <div class="icon"><a href="more/crafts"><i class="fa fa-paint-brush"></i></a></div>
    <div class="icon"><a href="more/design-web"><i class="fa fa-desktop"></i></a></div>
    <div class="icon"><a href="more/pets"><i class="fa fa-paw"></i></a></div>
  </div>
</div>
