<div class="jumbotron">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3"><h1>Consider it done.</h1></div>
      <div class="col-md-6 col-md-offset-3"><h3>From house painting to personal training, we bring you the right pros for every project on your list.</h3></div>
    </div>
    <form role="form" method="post">
      <div class="col-md-6 col-md-offset-3 form-group">
      	<div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="What service do you need?">
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit">Get Started</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="icons">
  <div class="row">
    <a href="#"><div class="col-md-1 col-md-offset-2"><i class="glyphicon glyphicon-home"></i></div></a>
    <a href="#"><div class="col-md-1"><i class="glyphicon glyphicon-calendar"></i></div></a>
    <a href="#"><div class="col-md-1"><i class="glyphicon glyphicon-wrench"></i></div></a>
    <a href="#"><div class="col-md-1"><i class="glyphicon glyphicon-cutlery"></i></div></a>
    <a href="#"><div class="col-md-1"><i class="glyphicon glyphicon-tree-conifer"></i></div></a>
    <a href="#"><div class="col-md-1"><i class="glyphicon glyphicon-facetime-video"></i></div></a>
    <a href="#"><div class="col-md-1"><i class="glyphicon glyphicon-music"></i></div></a>
    <a href="#"><div class="col-md-1"><i class="glyphicon glyphicon-trash"></i></div></a>
  </div>
</div>
