/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/**
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Custom CSS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

html {
 height: 100%;
 box-sizing: border-box;
}

*,
*:before,
*:after {
 box-sizing: inherit;
}

body {
 position: relative;
 margin: 0;
 padding-bottom: 6rem;
 min-height: 100%;
 font-family: 'Muli', sans-serif;
}

.site-content {
 padding-bottom: 50px;
}


/**
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Navbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.navbar {
  height: 80px;
  background-color: #FFFFFF;
}

.navbar-content {
  padding-top: 13px;
}

.navbar-form {
  overflow: auto;
  margin-top: 0px;
}

.navbar-form .form-control {
  display: inline-block;
  width: 500px;
  vertical-align: middle;
  height: 50px;
}

.navbar-form .form-group {
  display: inline;
}

.navbar-brand {
  padding-top: 7px;
  padding-left: 5px;
}

.navbar-form .btn {
  margin-top: 2px;
  margin-left: -10px;
  height: 50px;
  background-color: #F4F4F4;
}

.glyphicon-search {
  height: 36px;
  padding-top: 10px;
}


/**
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.navbar-fixed-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
  height: 15px;
  background-color: #FAFAFA;
 }


/**
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Jumbotron
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.jumbotron {
  margin-top: -20px;
  margin-bottom: 0;
  background-size: cover;
  height: 400px;
  width: 100%;
  background-image: url("jumbotron_1.jpg");
  background-position: 0px -90px;
  background-color: rgba(78,77,77,.35);
  background-blend-mode: multiply;
  color: white;
}

.jumbotron h1 {
  font-size: 50px;
}

.jumbotron h3 {
  font-size: 23px;
}

.jumbotron .form-group {
  margin-top: 30px;
}


/**
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Icon List
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.icons .fa {
  font-size: 50px;
  color: #BDC4C4;
}

.icons-container {
  padding: 20px;
  background-color: #F4F4F4;
}

.icons-row {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.icons-row .fa:hover {
  color: #F27802;
}


/**
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Sign Up Cards
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.sign-up-header {
  margin: 30px;
  margin-bottom: 50px;
}

.sign-up {
  border: 1px solid #E1E3E3;
  border-radius: 4px;
  padding: 36px;
  width: 400px;
  margin-left: 75px;
}

.pro {
  background-image: url("sign_up_pro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -120px 0;
  color: #FFFFFF;
}

.sign-up .card-title {
  margin-top: 0px;
}

.sign-up .btn-primary {
  margin-top: 30px;
  width: 100%;
  background: #3F93F3;
}


/**
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Create Account Card
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.form-signin {
  max-width: 400px;
  padding: 40px;
  margin: 0 auto;
  border: 1px solid #E1E3E3;
  border-radius: 4px;
  margin-top: 40px;
}

/** Login Page **/
/**  **/
.Login-title {
    text-align: center;
    margin-bottom: 16px;
}
.H3-R {
    font-size: 32px;
    line-height: 40px;
    color: #4e4d4d;
}
.Login {
  background: #fafafa;
  padding-top: 32px;
  padding-bottom: 52px;
  min-height: calc(100vh - 80px - 20px);
}
.Login-formContainer {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #edeeee;
    border-radius: 8px;
    padding-bottom: 24px;
        padding: 20px;
        text-align: center;
}
