<div class="category-choices">
  <% @categories.each do |category| %>
    <%= link_to category.name, pro_register_industry_category_service_index_path(category.industry, category) %> <br> <br>
  <% end %>
</div>
